# ZooKeeper Configuration

# Data directory
dataDir=/var/lib/zookeeper

# Log directory
dataLogDir=/var/log/zookeeper

# Client port
clientPort=2181

# Server configuration
server.1=zookeeper:2888:3888

# Tick time
tickTime=2000

# Init limit
initLimit=10

# Sync limit
syncLimit=5

# Autopurge
autopurge.snapRetainCount=3
autopurge.purgeInterval=1

# Quorum
quorumListenOnAllIPs=true

# Max connections
maxClientCnxns=60